<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport" />-->
    <meta name="renderer" content="webkit">
    <title>商圈秀 | 口碑</title>
    <script>
        if(/AppleWebKit.*mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
            window.location.replace("/m/login");
        }
        if(window !=top){
            top.location.href=location.href;
        }
    </script>
    <link href="/image/favicon-20170908021540662.ico"  rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common.css">

    <link href="/zui-1.7.0-dist/dist/css/zui.min.css" rel="stylesheet">
    <link href="/zui-1.7.0-dist/dist/lib/datatable/zui.datatable.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="/iconfont/iconfont.css">-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/iconfont/iconfont.css">
    <!--提示低版本IE浏览器-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/iealert.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <!--浏览器IE9以下不兼容提示-->
    <script type="text/javascript" src="/js/iealert.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("body").iealert();
        });
    </script>
</head>
<body>


<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="/zui-1.7.0-dist/dist/js/zui.min.js"></script>
<script src="/zui-1.7.0-dist/dist/lib/datatable/zui.datatable.min.js"></script>
<script>

</script>
</body>
</html>