.weekSelect{
    display: none;
}
.date_picker{
    border-color: #d7dde4;
}
.riqi{
    display: inline-block;
    float: left;
}
.wdateBox{
    position: absolute;
    top: 167px;
    right: 146px;
    width: 180px;
    background-color: #FFFFFF;
    border: #bbb 1px solid;
    padding: 4px;
    /*  display: none; */
}
.wdateTitle{
    height:24px;
    margin-bottom: 2px;
    padding: 1px;
    overflow: hidden;
}
.arrowImg{
    width: 22px;
    text-align: center;
    cursor: pointer;
}
.arrowImg:hover{
    background: #eee;
}
.arrowImg a{
    display: block;
    cursor: pointer;
    height: 16px;
    width: 16px;
}
.lfArrow{
    float: left;
}
.lfArrow a{
    background: transparent url(/media/My97DatePicker/skin/default/img.gif) no-repeat scroll -16px 0;
}
.rtArrow{
    float: right;
}
.rtArrow a{
    background: transparent url(/media/My97DatePicker/skin/default/img.gif) no-repeat scroll -32px 0;
}
.wyearSelect td{
    padding: 2px;
    color: #333333;
}
.wyearSelect td:hover,.wyearControl td:hover{
    color: #ffffff;
    background: #1E90FF;
    cursor: pointer;
}
.ywInput {
    width: 50px;
    height: 20px;
    margin-top: 2px;
    padding:0;
    border: 1px solid transparent;
    font-family: 'Microsoft Yahei','PingFang SC','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;
    font-weight: bold;
    color: #353535;
    line-height: 1.53846154;
    text-align: center;
    cursor: pointer;

}
.weekInYear{
    height: 200px;
    padding: 0;
    overflow-y: auto;
}
.weekInYear li{
    font-family: "宋体",Arial,Helvetica,sans-serif;
    text-align: center;
    color: #353535;
    padding: 5px 0;
}
.weekInYear li.active,.weekInYear li:hover{
    color: #ffffff;
    background: #1E90FF;
    cursor: pointer;
}
.wyearBox{
    float: left;
    margin-left: 40px;
}