<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport" />-->
    <meta name="renderer" content="webkit">
    <title>商圈秀 | 口碑</title>
    <script>
        if(window !=top){
            top.location.href=location.href;
        }
    </script>
    <link href="/image/favicon-20170908021540662.ico"  rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common.css">
    <link href="/zui-1.7.0-dist/dist/css/zui.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="/css/login-soft.css">-->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="/iconfont/iconfont.css">-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/iconfont/iconfont.css">
    <!--提示低版本IE浏览器-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/iealert.css">
    <style>
        .head{
            border-bottom: 1px solid #ddd;
            -webkit-box-shadow: 0 5px 5px #ddd;
            -moz-box-shadow: 0 5px 5px #ddd;
            box-shadow: 0 5px 5px #ddd;
        }
        .logo-box{
            width: 1200px;
            margin: 0 auto;
            padding: 10px 0;
        }
        .body{
            width: 1200px;
            margin: 0 auto;
            margin-top: 50px;
        }
    </style>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <!--浏览器IE9以下不兼容提示-->
    <script type="text/javascript" src="/js/iealert.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("body").iealert();
        });
    </script>
</head>
<body>
<div class="head">
    <!--顶部logo-->
    <div class="logo-box">
        <img  src="/image/koubei2.png" alt="">
    </div>
</div>
<div class="body">
    <div class="panel">
        <div class="panel-heading">
            绑定账号
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="account" class="col-sm-2 required">账号</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" name="account" id="account" placeholder="电子邮件/手机号/用户名">
                        <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwd" class="col-sm-2 required">密码</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="password" class="form-control" name="passwd" id="passwd" placeholder="密码">
                        <div class="help-block"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" id="login">一键绑定</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="http://www.shangquanshow.com/signup.jsp">注册商圈秀账号</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<!--<script type="text/javascript" src="/js/jquery.md5.min.js"></script>-->
<!--<script type="text/javascript" src="/js/jquery.placeholder.min.js"></script>-->
<script src="/zui-1.7.0-dist/dist/js/zui.min.js"></script>

<script>
    $(function () {
        $("#login").click(function () {
            var _this = this;
            var account = $("[name='account']").val();
            var pwd = $("[name='passwd']").val();
            if(!account){
                $("[name='account']").next(".help-block").html("请输入账号").parents(".form-group").addClass("has-error");
                return false;
            }
            if(!pwd){
                $("[name='passwd']").next(".help-block").html("请输入密码").parents(".form-group").addClass("has-error");
                return false;
            }
            var ajaxTimeoutZhike = $.ajax({
                type: 'POST',
                url: 'user/bindingAccount',
                data: $("form").serialize(),
                timeout: 30000,
                beforeSend:function(XMLHttpRequest){
                    $(_this).html("绑定中...").prop("disabled",true);
                },
                success: function (obj) {
                    if(obj.result){
                        window.location = "/shouye";
                    }else{
                        $(_this).html("一键绑定").prop("disabled",false);
                        new $.zui.Messager(obj.message || "绑定失败", {
                            type: 'danger',
                            icon:'warning-sign',
                            time: 2000
                        }).show();
                    }
                },
                fail:function () {
                    $(_this).html("一键绑定").prop("disabled",false);
                },
                complete:function(XMLHttpRequest,textStatus){
                    if(textStatus=='timeout'){//超时,status还有success,error等值的情况
                        ajaxTimeoutZhike.abort();
                        $(_this).html("一键绑定").prop("disabled",false);
                        alert("超时");
                    }
                }
            });
        })
    });
</script>
</body>
</html>