<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit">
    <title>数据趋势</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/zui-1.7.0-dist/dist/css/zui.min.css" rel="stylesheet">
    <link href="/zui-1.7.0-dist/dist/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/iconfont/iconfont.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/weekSelect.css">-->
    <link rel="stylesheet" type="text/css" href="/weekpicker/weekpicker.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTrends.css">

</head>
<body>
<div class="child-container">
    <div class="title-box clearfix">
        <div class="common-title lf">客流分析-数据趋势( <span id="selectedTime"></span>)</div>
        <a class="download" id="loadReport" href="javascript:;" onclick="loadReport()"><i class="iconfont icon-xiazai"></i>下载报告</a>
    </div>
    <!--图表区-->
    <div class="common-box">
        <div class="select-box clearfix">
            <select id="category" class="common-select lf">
                <option value="week">周客流量</option>
                <option value="month">月客流量</option>
                <option value="day">日客流量</option>
                <option value="year">年客流量</option>
            </select>
            <!--选择年客流量-->
            <div class="select-group" data-id="year">
                <label class="time-label lf">选择时间</label>
                <div class="input-wrap lf">
                    <input type="text" class="form-control form-date-yeay lf" readonly="readonly" data-type="begin" placeholder="选择年份">
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
                <label for="year-checkbox" class="mylabel lf" data-checkbox="compare">
                    <input type="checkbox" id="year-checkbox" class="compare-checkbox">
                    <i class="my-checkbox iconfont icon-duigoufangkuang"></i>对比
                </label>
                <div class="input-wrap hide lf">
                    <input type="text" class="form-control form-date-yeay lf" readonly="readonly" data-type="end" placeholder="选择年份">
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
            </div>
            <!--月客流量-->
            <div class="select-group" data-id="month">
                <label class="time-label lf">选择时间</label>
                <div class="input-wrap lf">
                    <input type="text" class="form-control form-date-month lf" readonly="readonly" data-type="begin" placeholder="选择月份">
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
                <label for="month-checkbox" class="mylabel lf" data-checkbox="compare">
                    <input type="checkbox" id="month-checkbox" class="compare-checkbox">
                    <i class="my-checkbox iconfont icon-duigoufangkuang"></i>对比
                </label>
                <div class="input-wrap hide lf">
                    <input type="text" class="form-control form-date-month lf" readonly="readonly" data-type="end" placeholder="选择月份">
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
            </div>
            <!--周客流量-->
            <div class="select-group" data-id="week">
                <label class="time-label lf">选择时间</label>
                <div class="input-wrap lf">
                    <input type="text" readonly class="common-select myWeek mr10" data-type="begin" placeholder="请选择周"/>
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
                <label for="week-checkbox" class="mylabel lf" data-checkbox="compare">
                    <input type="checkbox" id="week-checkbox" class="compare-checkbox">
                    <i class="my-checkbox iconfont icon-duigoufangkuang"></i>对比
                </label>
                <div class="input-wrap hide lf">
                    <input type="text" readonly class="common-select myWeek mr10" data-type="end" placeholder="请选择周"/>
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
            </div>
            <!--日客流量-->
            <div class="select-group" data-id="day">
                <label class="time-label lf">选择时间</label>
                <div class="input-wrap lf">
                    <input type="text" class="form-control form-date-date lf" readonly="readonly" data-type="begin" placeholder="选择日期">
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
                <label for="date-checkbox" class="mylabel lf" data-checkbox="compare">
                    <input type="checkbox" id="date-checkbox" class="compare-checkbox">
                    <i class="my-checkbox iconfont icon-duigoufangkuang"></i>对比
                </label>
                <div class="input-wrap hide lf">
                    <input type="text" class="form-control form-date-date lf" readonly="readonly" data-type="end" placeholder="选择日期">
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="chart-common-wrap" id="charts"></div>
    </div>
    <!--客流列表-->
    <div class="mt20">
        <div class="title-box clearfix">
            <div class="common-title lf" id="tableTitle"></div>
        </div>
        <div class="common-box">
            <table class="data-common-table" id="dataTable">
                <thead>
                <tr>
                    <td>时段</td>
                    <td>2017年每月客流量(人)</td>
                    <td>2016年每月客流量(人)</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>2月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>3月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>4月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>5月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>6月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>7月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>8月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>9月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>10月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>11月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>12月</td>
                    <td>151</td>
                    <td>166</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js" charset="UTF-8"></script>
<script src="/js/utils.js"></script>
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="/zui-1.7.0-dist/dist/js/zui.min.js"></script>
<script src="/zui-1.7.0-dist/dist/lib/datetimepicker/datetimepicker.min.js"></script>

<!--<script type="text/javascript" src="/js/weekSelect.js"></script>-->
<script type="text/javascript" src="/weekpicker/weekpicker.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script>
<script>
    //下载报告
    function loadReport() {
        var account,type,time;
        //year/month/week/date类型
        type = $("#category").val();
        account = gShop;
        //时间
        var timeBox = $(".select-group.nowSelected");
        var check = timeBox.find(".compare-checkbox").prop("checked");
        var inputs = timeBox.children(".input-wrap");
        var timeValue1 = $(inputs[0]).children("input").val();
        var timeValue2 = $(inputs[1]).children("input").val();
        var begin = type === "week" ? (timeValue1.slice(4)+timeValue1.slice(1,3)) : timeValue1.replace(/\D/g,"-").slice(0,timeValue1.length-1);
        var end = type === "week" ? (timeValue2.slice(4)+timeValue2.slice(1,3)) : timeValue2.replace(/\D/g,"-").slice(0,timeValue2.length-1);
        time = check ? (begin + "," + end) : begin;
//        console.log(type,time);
        window.location = "/flow/dateTrendDownload?account="+account+"&type="+type+"&time="+time;
    }
    //    从父页面获取店名
    var gShop = parent.document.getElementById("shop").value;
    //    年选择器
    $(".form-date-yeay").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 4,
        minView: 4,
        forceParse: 0,
        format: "yyyy年"
    });
    //    月选择器
    $(".form-date-month").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 3,
        minView: 3,
        forceParse: 0,
        format: "yyyy年mm月"
    });
    //    日选择器
    $(".form-date-date").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: "yyyy年mm月dd日"
    });
    //页面初始化
    $(function () {
        //获取当前选中的 年/月/周/日选择器
        var val = $("#category").val();
        //changeXAxis(val);//初始化x轴
        loadTime(val);//加载本地存储或默认时间
        //根据店铺获取分组
        getCharts();
    });
    //    查看图表
    //    $("#toView").click(function () {
    //        getChartsBygroup();
    //    });
    //选择单个查看还是对比查看
    $(".select-box").on("click","[data-checkbox='compare']",function () {
        var state = $(this).children("input").prop("checked");
        if(state == true){
            $(this).children(".my-checkbox").addClass("icon-dui01").removeClass("icon-duigoufangkuang");
            $(this).next().removeClass("hide");
        }else{
            $(this).children(".my-checkbox").addClass("icon-duigoufangkuang").removeClass("icon-dui01");
            $(this).next().addClass("hide");
        }
    });
    //    查看方式change事件(切换年/月/周/日)
    $("#category").change(function () {
        var val = $(this).val();
        $(".select-group").removeClass("nowSelected");
        $("[data-id='"+val+"']").addClass("nowSelected");
        //changeXAxis(val);//选择对应的x轴
        //加载时间
        loadTime(val);
        getCharts();
    });
    //    切换时间
    $(".select-box").on("change",".input-wrap input",getCharts);
    //获取图表
    function getCharts() {
        var data = {};
        //按什么方式查看
        var state = $("#category").val();
//        data.way = way;
        data.account = gShop;
        //时间
        var timeBox = $(".select-group.nowSelected");
        var check = timeBox.find(".compare-checkbox").prop("checked");
        var inputs = timeBox.children(".input-wrap:not(.hide)");
        var timeValue1 = $(inputs[0]).children("input").val();
        var timeValue2 = $(inputs[1]).children("input").val();
        $("#selectedTime").html(timeValue1);
        if(check){//对比查看
            if (!(timeValue1 && timeValue2)){
                new $.zui.Messager('请选择时间', {
                    type: 'warning',
                    icon:'warning-sign',
                    time: 1000
                }).show();
                return false;
            }
            //获取时间
            $("#selectedTime").html(timeValue1 + " & " + timeValue2);
            $("#tableTitle").html("对比报表("+timeValue1+"客流量对比"+timeValue2+"客流量)");
            var begin = state === "week" ? (timeValue1.slice(4)+timeValue1.slice(1,3)) : timeValue1.replace(/\D/g,"-").slice(0,timeValue1.length-1);
            var end = state === "week" ? (timeValue2.slice(4)+timeValue2.slice(1,3)) : timeValue2.replace(/\D/g,"-").slice(0,timeValue2.length-1);
//            var begin = state === "week" ? $(inputs[0]).children("input").attr("title") : timeValue1.replace(/\D/g,"-").slice(0,timeValue1.length-1);
//            var end = state === "week" ? $(inputs[1]).children("input").attr("title") : timeValue2.replace(/\D/g,"-").slice(0,timeValue2.length-1);
            data.time = begin +","+ end;
        }else{//单个查看
            if(!timeValue1){
//                tipMessage.showTipMessage("请选择时间", 1500);
                new $.zui.Messager('请选择时间', {
                    type: 'warning',
                    icon:'warning-sign',
                    time: 2000
                }).show();
                return false;
            }
            $("#selectedTime").html(timeValue1);
            $("#tableTitle").html("客流量报表("+timeValue1+"客流量)");
            var time = state === "week" ? (timeValue1.slice(4)+timeValue1.slice(1,3)) : timeValue1.replace(/\D/g,"-").slice(0,timeValue1.length-1);
            data.time = time;
        }
//        console.log(data)
//        $("#charts").empty();
        var myChart = echarts.init(document.getElementById("charts"));
        myChart.showLoading();
        $.ajax({
            url: "/flow/"+state+"Flow",
            data: data,
            type:'GET',
            timeout:60000,
            beforeSend:function(XMLHttpRequest){
//                $(".loadingDiv").css('display','');
            },
            success:function(obj){
                //本地存储时间
//                window.localStorage && localStorage.setItem("dataTrends"+state,timeValue1);
                var arr = obj.data;
                //绘制x轴
                var xAxis = changeXAxis(state);
                //绘图
                var option = getOption(optionLine,obj,xAxis);
                window.onresize = myChart.resize;
                myChart.hideLoading();
                myChart.setOption(option);
                //渲染数据表格
                var htmlHead = "";
                htmlHead += "<tr> <td>时段</td>";
                for (var k = 0;k<arr.length;k ++){
                    htmlHead += "<td>"+arr[k].name+"客流量</td>";
                }
                htmlHead += "</tr>";
                var htmlBody = "";
                for(var i=0;i<xAxis.length;i++){
                    htmlBody += "<tr><td>"+xAxis[i]+"</td>";
                    for(var j=0;j<arr.length;j++){
                        htmlBody += "<td>"+(typeof arr[j].data[i] ===  "undefined" ? "-" : arr[j].data[i])+"</td>";
                    }
                    htmlBody += "</tr>";
                }
                $("#dataTable thead").html(htmlHead);
                $("#dataTable tbody").html(htmlBody);
            },
            error:function(XMLHttpRequest,textStatus,message){
                new $.zui.Messager(message || "错误", {
                    type: 'danger',
                    icon:'warning-sign',
                    time: 1000
                }).show();
            },
            complete:function(XMLHttpRequest,textStatus){
//                $(".loadingDiv").css('display','none');
            }
        });
    }
    //页面初始化或者重选查看方式时要加载存储的时间或者默认时间
    function loadTime(val) {
        $("[data-id='"+val+"']").addClass("nowSelected");
        var inputBox = $("[data-id='"+val+"']").children(".input-wrap");
        var input1 = $(inputBox[0]).children("input");
//        var input2 = $(inputBox[1]).children("input");
        var today = new Date();
        var thisYear = today.getFullYear();//今年
//       加载默认时间
//        if(window.localStorage && localStorage.getItem("dataTrends"+val)){
//            input1.val(localStorage.getItem("dataTrends"+val));
//        }else{
        switch(val)
        {
            case "year":
                input1.val(thisYear+"年");
//                input2.val(thisYear-1+"年");
                break;
            case "month":
                input1.val(getMonthByNow(0));
//                input2.val(getMonthByNow(-1));
                break;
            case "week":
                var obj1 = getWeek(today);
                input1.val("第"+obj1.order+"周"+obj1.monDate);
//                上一周
//                var nowDate = new Date();
//                nowDate.setDate(nowDate.getDate()-7);
//                var obj2 = getWeek(nowDate);
//                input2.val(obj2.thisYear+"年第"+obj2.order+"周");
//                input2.attr("title",obj2.monDate+obj2.order);
                break;
            case "day":
                input1.val(getDateByNow(0));
//                input1.val(getDateByNow(-1));
                break;
        }
//        }
    }
    //切换查看方式时变为对应的x轴
    function changeXAxis(val) {//输入一个状态
        var xAxis;
        switch(val)
        {
            case "year":
                optionLine.dataZoom = null;
                xAxis = ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"];
                break;
            case "month":
                optionLine.dataZoom = dataZoom;
                xAxis = ["1日","2日","3日","4日","5日","6日","7日","8日","9日","10日","11日","12日","13日","14日","15日","16日","17日","18日","19日","20日","21日","22日","23日","24日","25日","26日","27日","28日","29日","30日","31日"];
                break;
            case "week":
                optionLine.dataZoom = null;
                xAxis = ["周一","周二","周三","周四","周五","周六","周日"];
                break;
            case "day":
                optionLine.dataZoom = dataZoom;
                xAxis = ["7-8点","8-9点","9-10点","10-11点","11-12点","12-13点","13-14点","14-15点","15-16点","16-17点","17-18点","18-19点","19-20点","20-21点","21-22点"];
                break;
        }
        return xAxis;
    }
    //在原有模板基础上再根据后台传过来的数据重新渲染模板
    function getOption(option,parma,xAxis) {//option为模板，parma为后台传过来的数据，
        option.series = [];
        option.legend.data = [];
        for(var i = 0;i<parma.data.length;i++){
            var myobj = {};
            myobj.name = parma.data[i].name;
            myobj.type = 'line';
            myobj.smooth = false;
//                    myobj.label = {
//                        normal:{
//                            show:true
//                        }
//                    };
            myobj.data = parma.data[i].data;
            option.series.push(myobj);
            option.legend.data.push(parma.data[i].name);
        }
        option.xAxis.data = xAxis;//xAxis全局变量
        return option;
    }
    //折线图模板
    var dataZoom = [
        {
            type: 'slider',
            start: 0,
            end: 50
        }
    ];
    var optionLine = {
        backgroundColor: '#ffffff',
        title: {
            show:true,
            text: '客流走势',
            textStyle:{
                fontWeight:"normal",
                color: "#9A9A9A",
                fontSize: 14
            },
            top: 16,
            left: 125
        },
//        dataZoom:[
//            {
//                type: 'slider',
//                start: 0,
//                end: 50
//            }
//        ],
        color:['#35D551','#6C96E0'],
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            top: 10,
            data:[]
        },
        xAxis: {
            type: 'category',
            data: [],//["周一","周二","周三","周四","周五","周六","周天"]
//            axisLabel:{
//                interval: 0,
//                rotate:-30
//            }
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value} 人'
            }
        },
        series: [{
            name: "",
            type: 'line',
            smooth:true,
            // label: {
            //     normal:{
            //         show:true,
            //         position:"top"
            //     }
            // },
            data: []//[38993,37639,17602,15499,18426,0,0]
        }]
    };
</script>
</body>
</html>
