<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport" />-->
    <meta name="renderer" content="webkit">
    <title>商圈秀 | 口碑</title>
    <script>
        //        if(/AppleWebKit.*mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
        //            window.location.href = "/loginPage";
        //        }
        if(window !=top){
            top.location.href=location.href;
        }
    </script>
    <link href="/image/favicon-20170908021540662.ico"  rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/responsiveslides.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/login-soft.css">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="/iconfont/iconfont.css">-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/iconfont/iconfont.css">
    <!--提示低版本IE浏览器-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/iealert.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <!--浏览器IE9以下不兼容提示-->
    <script type="text/javascript" src="/js/iealert.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("body").iealert();
        });
    </script>
</head>
<body class="login-body">
<div class="banner">
    <div class="heade">
        <!--顶部logo-->
        <div class="logo-box">
            <div class="lf" style="padding: 6px 0">
                <img  src="/image/koubei2.png" alt="">
            </div>
            <div class="lf top_right">
                <a href="http://www.shangquanshow.com/" target="_blank">商圈秀首页</a>
                <a href="http://www.shangquanshow.com/about_us.html" target="_blank">关于辰智</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-layout">
            <div class="link-img lf">
                <ul class="rslides" id="slider">
                    <li>
                        <img src="/image/slider2.jpg">
                        <p class="caption">客流追踪，能及时反映客流变化，助力流量运营</p>
                    </li>
                    <li>
                        <img src="/image/slider_mall.jpg">
                        <p class="caption">专注于商业领域的大数据聚合应用，助力商家准确把握客流变化、洞察客流特征、进行精准引流</p>
                    </li>
                    <li>
                        <img src="/image/slider_restaurant.jpg">
                        <p class="caption">客源地分析，让您把握客流来源，做出精准引流决策</p>
                    </li>
                </ul>
            </div>
            <div class="login-content fr">
                <form id="sqs" class="login-box" method="post">
                    <div class="login-logo">登录商圈秀知客</div>
                    <!--错误提示-->
                    <div class="cwts" style="display: none">
                        <div class="error"></div>
                        <span class="errorTips"></span>
                    </div>
                    <!--用户名-->
                    <div class="login-input uname">
                        <!--小图标-->
                        <span><i class="iconfont icon-denglu"></i></span>
                        <!--<div class="label">用户名</div>-->
                        <input type="text" class="login-text" name="username" placeholder="商圈秀账号" autocomplete="off">
                    </div>
                    <!--密码-->
                    <div class="login-input upwd">
                        <label class="abs"></label>
                        <!--小图标-->
                        <span><i class="iconfont icon-denglumima"></i></span>
                        <!--<div class="label">密码</div>-->
                        <input type="password" class="login-text" name="password" placeholder="密码" autocomplete="off">
                    </div>
                    <!--验证码-->
                    <!--<div class="login-input">-->
                        <!--<div class="label">验证码</div>-->
                        <!--<div class="code-wrap">-->
                            <!--<div class="refresh" title="刷新" id="refresh_btn"></div>-->
                            <!--<img src="" id="code_img" alt="">-->
                            <!--<select id="codeSelect" style="display: none;"></select>-->
                            <!--<div class="load-box" id="load_box">-->
                                <!--<div class="load-icon"></div>-->
                                <!--<div class="load-txt">加载中...</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--验证码-->
                    <!--<div class="login-input mycode clearfix">-->
                    <!--&lt;!&ndash;小图标&ndash;&gt;-->
                    <!--<span><i class="iconfont icon-yanzhengma1"></i></span>-->
                    <!--<input type="text" class="code-text" name="code" placeholder="验证码">-->
                    <!--<img id="sqsCode" class="code" src="" title="更换验证码">-->
                    <!--</div>-->
                    <div class="submitArea">
                        <button type="submit" class="xsubmit">登&nbsp;&nbsp;录</button>
                    </div>
                    <div class="login-method">
                        <a href="http://www.shangquanshow.com/signreset.jsp" target="_blank" class="lf">忘记密码 ?</a>
                        <a href="http://www.shangquanshow.com/signup.jsp" class="rt" id="signup">注册商圈秀账号</a>
                    </div>
                </form>
                <p class="hr"></p>
                <div class="other-way">
                    <span class="lf">第三方登录</span>
                    <a href="http://openauth.alipay.com/oauth2/appToAppAuth.htm?app_id=2017110309704488&redirect_uri=http%3A%2F%2Fkoubei.shangquanshow.com%2Fsqs_ret" class="fr">支付宝</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--版权声明-->
<div class="logl-footer">
    <div class="copyright">
        <div class="sub-footer clearfix">
            <!--左侧地址-->
            <div class="footer-address lf">
                <div class="addr-name">上海office</div>
                <div class="addr-list">
                    <ul>
                        <li>地址: 上海市杨浦区黄兴路2005弄2号楼15层</li>
                        <li>电话：<span>021-52736567-8030</span></li>
                        <li>电邮：davidhu@shangquanshow.com</li>
                        <li style="padding-top: 30px;color: #989898;">版权所有 © 2017 上海辰智信息技术有限公司
                            <a href="http://www.miitbeian.gov.cn" style="color: inherit;" target="_blank">沪ICP备11014632号</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!--右侧二维码-->
            <div class="footer-qrcode fr">
                <div class="addr-code lf">
                    <img src="/image/footer_code1.png" alt="">
                    <p>关注辰智微博</p>
                </div>
                <div class="addr-code lf">
                    <img src="/image/footer_code2.jpg" alt="">
                    <p>关注辰智微信</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--轮播图-->

<script type="text/javascript" src="/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="/js/jquery.md5.min.js"></script>
<script type="text/javascript" src="/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/js/index1.js"></script>
<script>

//    var gSecurityCode = {
//        imgId: "code_img",//图片id
//        refreshId: "refresh_btn",//刷新按钮
//        selectId: "codeSelect",//存放字的选择框
//        index: 0,//第几次点击
//        init: function () {//初始化
//            var _this = this;
//            _this.refresh();
////            $("#"+this.imgId).attr("src","../cut/code3?flag="+Math.round(Math.random()*9));
//            //图片绑定点击事件
//            $("#"+_this.imgId).bind("click", function(ev) {
//                if(_this.index > 3){
//                    return false
//                }
//                var oEvent = ev || event;
//                var number = $("#"+_this.selectId+ " option").length;
//                var x = oEvent.pageX;
//                var y = oEvent.pageY;
////                console.log(x,y);
//                var img = document.getElementById(_this.imgId);    //获取图片的原点
//                var nodex = _this.getNodePosition(img)[0];//原点x 与原点y
//                var nodey = _this.getNodePosition(img)[1];
//
//                var xserver = parseInt(x) - parseInt(nodex);
//                var yserver = parseInt(y) - parseInt(nodey);
////                if (number >= 4) {
////                    return;
////                }
//                $("#"+_this.selectId).append(
//                    "<option value='"+ (parseInt(number)+1) +"'>" + xserver + "_" + yserver
//                    + "</option>");
//                var oDiv = document.createElement('div');
//                oDiv.className = "sel-img";
//                oDiv.style.left = (parseInt(x) - 15) + 'px'; // 指定创建的DIV在文档中距离左侧的位置    图片大小30 左右移动15
//                oDiv.style.top = (parseInt(y) - 15) + 'px'; // 指定创建的DIV在文档中距离顶部的位置
//                oDiv.style.position = 'absolute'; // 为新创建的DIV指定绝对定位
//                oDiv.style.width = '32px'; // 指定宽度
//                oDiv.style.height = '32px'; // 指定高度
//                oDiv.style.background = 'url(/image/icon_light.png) no-repeat 3px -364px';//背景图
//                switch (_this.index){
//                    case 1:
//                        oDiv.style.backgroundPositionY = '-220px';
//                        break;
//                    case 2:
//                        oDiv.style.backgroundPositionY = '-328px';
//                        break;
//                    case 3:
//                        oDiv.style.backgroundPositionY = '-292px';
//                        break;
//                }
//                oDiv.style.opacity = '0.8'; //透明度
//                oDiv.style.zIndex = '999';
//                $(document.body).append(oDiv);
////                console.log(_this.index)
//                _this.index ++;
//
//            });
//            $("#"+_this.refreshId).click(function () {//刷新按钮绑定点击事件
//                $("#"+_this.selectId).html("");
//                //加载动画
//                $("#load_box").show();
//                var divs = $(document.body).children(".sel-img");
//                for(var i = 0;i < divs.length;i++){
//                    document.body.removeChild(divs[i]);
//                }
//                _this.index = 0;
//                $("#"+_this.imgId).attr("src","../cut/code3?flag="+Math.round(Math.random()*9));
//                document.getElementById(_this.imgId).onload = function () {
//                    $("#load_box").hide();
//                }
//            })
//        },
//        refresh: function () {
//            //加载动画
//            $("#load_box").show();
//            $("#"+this.imgId).attr("src","../cut/code3?flag="+Math.round(Math.random()*9));
//            document.getElementById(this.imgId).onload = function () {
//                $("#load_box").hide();
//            }
//        },
//        getNodePosition: function (node) {//获取图片在文档中的位置
//            var top = left = 0;
//            while (node) {
//                if (node.tagName) {
//                    top = top + node.offsetTop;
//                    left = left + node.offsetLeft;
//                    node = node.offsetParent;
//                }
//                else {
//                    node = node.parentNode;
//                }
//            }
//            return [left, top];
//        }
//    }
//    gSecurityCode.init();
    $(function () {
//        new SecurityCode("sqsCode").init()
        var url = encodeURIComponent(location.href);
        var href = $("#signup").attr("href");
        $("#signup").attr("href",href+ "?redirectURL="+url);
    });
</script>
</body>
</html>