<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit">
    <title>周边分布</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/zui-1.7.0-dist/dist/css/zui.min.css" rel="stylesheet">
    <link href="/zui-1.7.0-dist/dist/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/css/peripheryDistributed.css">

    <!--<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>-->
    <script src="http://webapi.amap.com/maps?v=1.4.2&key=7819fcf315ed80e88e84c10f3b6638a2"></script>
    <!--<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>-->
    <!--<script type="text/javascript" src="http://a.amap.com/jsapi_demos/static/resource/heatmapData.js"></script>-->
</head>
<body>
<div class="child-container">
    <div class="title-box clearfix">
        <div class="common-title lf">客流分析-周边分布( 数据截止时间：<span id="selectedTime" th:text="${session.today}"></span>)</div>
    </div>
    <!--图表区-->
    <div class="common-box">
        <div class="select-box clearfix">
            <div class="select-group">
                <label class="mylabel lf">选择时间</label>
                <div class="input-wrap lf">
                    <input type="text" id="month" class="form-control form-date-month" readonly="readonly" placeholder="选择月份">
                    <i class="icon icon-caret-down my-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <div class="chart-title">单店客群分布热力图</div>
            <div id="charts" class="chart-common-wrap"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js" charset="UTF-8"></script>
<!--工具方法-->
<script src="/js/utils.js"></script>
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="/zui-1.7.0-dist/dist/js/zui.min.js"></script>
<script src="/zui-1.7.0-dist/dist/lib/datetimepicker/datetimepicker.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script>
<!--<script type="text/javascript" src="/js/bmap.min.js"></script>-->
<!--引入百度地图-->
<!--<script src="https://api.map.baidu.com/api?v=2.0&ak=fwnkIfYEYf2QCGtTtqrqriqX8VszvUSK"></script>-->
<!--<script src="https://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>-->

<script>
    $(".form-date-month").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 3,//从月份开始选择
        minView: 3,//直接选择月
        forceParse: 0,
        format: "yyyy年mm月"
    });
    //    从父页面获取店名
    var gShop = parent.document.getElementById("shop").value;

    //选择时间时获取图
    $("#month").change(getCharts);
    //初始化
    $(function () {
        var formatterDate = $("#selectedTime").html().substring(0,10).replace(/[\u4e00-\u9fa5]/g,"-");
        $("#month").val(getMonthPre(formatterDate,-1));
        getCharts();
    });
    function getCharts() {
        var time = $("#month").val();
        $.ajax({
//            url:"/media/points.json",//测试
            url:"/label/elevation",
            data:{account: gShop,time: time.replace(/\D/g,"-").slice(0,time.length-1)},
            type:'GET',
            timeout:60000,
            beforeSend:function(XMLHttpRequest){
                $(".loadingDiv").css('display','');
            },
            success:function(obj){
//                console.log(obj)
                var lng = obj.data.local[0];
                var lat = obj.data.local[1];
                //高德地图
                var map = new AMap.Map("charts", {
                    resizeEnable: true,
                    center: [lng, lat],
                    zoom: 15
                });

                var heatmap;
                map.plugin(["AMap.Heatmap"], function() {
                    //初始化heatmap对象
                    heatmap = new AMap.Heatmap(map, {
                        radius: 25, //给定半径
                        opacity: [0, 0.8]
                        /*,gradient:{
                             0.5: 'blue',
                             0.65: 'rgb(117,211,248)',
                             0.7: 'rgb(0, 255, 0)',
                             0.9: '#ffea00',
                             1.0: 'red'
                             }*/
                        });
                });
                //设置数据集：该数据为北京部分“公园”数据
                heatmap.setDataSet({
                    data: obj.data.points,
                    max: 100
                });
                marker = new AMap.Marker({
                    icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                    position: [lng, lat]
                });
                marker.setMap(map);
                var circle1 = new AMap.Circle({
                    center: new AMap.LngLat(lng, lat),// 圆心位置
                    radius: 500, //半径
                    strokeColor: "red", //线颜色
                    strokeOpacity: 0.8, //线透明度
                    strokeWeight: 2, //线粗细度
                    fillOpacity: 0//填充透明度
                });
                var circle2 = new AMap.Circle({
                    center: new AMap.LngLat(lng, lat),// 圆心位置
                    radius: 1000, //半径
                    strokeColor: "green", //线颜色
                    strokeOpacity: 0.8, //线透明度
                    strokeWeight: 2, //线粗细度
                    fillOpacity: 0//填充透明度
                });
                var circle3 = new AMap.Circle({
                    center: new AMap.LngLat(lng, lat),// 圆心位置
                    radius: 1500, //半径
                    strokeColor: "blue", //线颜色
                    strokeOpacity: 0.8, //线透明度
                    strokeWeight: 2, //线粗细度
                    fillOpacity: 0//填充透明度
                });
                circle1.setMap(map);
                circle2.setMap(map);
                circle3.setMap(map);
            },
            error:function(XMLHttpRequest,textStatus,message){
                new $.zui.Messager(message || "错误", {
                    type: 'danger',
                    icon:'warning-sign',
                    time: 1000
                }).show();
            },
            complete:function(XMLHttpRequest,textStatus){
                $(".loadingDiv").css('display','none');
            }
        });
    }
//    var points = obj.data.coordinate.map(function (track) {
//        return track.coord.concat([2]);
//    });
//    var myChart = echarts.init(document.getElementById("charts"));
//    myChart.setOption(option = {
//        animation: false,
//        bmap: {
////                        center: [120.13066322374, 30.240018034923],
//            center: obj.data.local,
//            zoom: 14,
//            roam: true
//        },
//        visualMap: {
//            show: false,
////                        top: 'top',
//            min: 0,
//            max: 2,
//            seriesIndex: 0,
//            calculable: true,
//            inRange: {
//                color: ['blue', 'blue', 'green', 'yellow', 'red']
//            }
//        },
//        series: [{
//            type: 'heatmap',
//            coordinateSystem: 'bmap',
//            data: points,
//            pointSize: 5,
//            blurSize: 6
//        }]
//    });
//    var bmap = myChart.getModel().getComponent('bmap').getBMap();
//    var point = new BMap.Point(obj.data.local[0], obj.data.local[1]);
//    bmap.centerAndZoom(point, 15);
//    var marker = new BMap.Marker(point);
//    var circle1 = new BMap.Circle(point,300,{fillColor : "transparent",fillOpacity : 0,strokeColor:"red",strokeWeight:2, strokeOpacity:0.5});
//    var circle2 = new BMap.Circle(point,600,{fillColor : "transparent",fillOpacity : 0,strokeColor:"green",strokeWeight:2, strokeOpacity:0.5});
//    var circle3 = new BMap.Circle(point,900,{fillColor : "transparent",fillOpacity : 0,strokeColor:"blue",strokeWeight:2, strokeOpacity:0.5});
//    bmap.addOverlay(marker);//添加点
//    bmap.addOverlay(circle1);//添加圆
//    bmap.addOverlay(circle2);//添加圆
//    bmap.addOverlay(circle3);//添加圆
//    //                bmap.addControl(new BMap.MapTypeControl());
</script>
</body>
</html>
