<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czc.bi.mapper.ShopMapper">

	<insert id="insert" parameterType="com.czc.bi.pojo.Shop">
		INSERT INTO `shop_copy` (
		`name`,
		`account`,
		`inshort`,
		`merchant`,
		`agent`,
		`province`,
		`city`,
		`area`,
		`address`,
		`type`,
		`subtype`,
		`longitude`,
		`latitude`,
		`link`,
		`phone`,
		`shoptime`,
		`introduce`,
		`createdt`,
		`updatedt`
		)
		VALUES
		(
		#{name,jdbcType=VARCHAR},
		#{account,jdbcType=VARCHAR},
		#{inshort,jdbcType=VARCHAR},
		#{merchant,jdbcType=VARCHAR},
		#{agent,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{area,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{subtype,jdbcType=VARCHAR},
		#{longitude,jdbcType=VARCHAR},
		#{latitude,jdbcType=VARCHAR},
		#{link,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{shoptime,jdbcType=VARCHAR},
		#{introduce,jdbcType=VARCHAR},
		NOW(),
		NOW()
		)

	</insert>

	<select id="selectShowShop" resultType="com.czc.bi.pojo.ShowShop">
		SELECT a1.`id` AS `id`
		,a1.`name` AS `name`
		,a1.`account` AS `account`
		,a1.`agent` AS `agent`
		,a1.`merchant` AS `merchant`
		,CONCAT(a2.`province`,'-',a3.`city`,'-',a4.`area`) AS `area`
		,CONCAT(a5.`type`,'-',a6.`subtype`) AS `type`
		,a1.`shoptime` AS
		`shoptime`
		,a1.`createdt` AS
		`createdt`
		FROM `shop_copy` a1
		LEFT JOIN
		`province` a2
		ON a1.`province` =
		a2.`provinceID`
		LEFT JOIN `city` a3
		ON
		a1.`city` = a3.`cityID`
		LEFT JOIN
		`area` a4
		ON a1.`area` = a4.`areaID`
		LEFT JOIN `type` a5
		ON a1.`type` =
		a5.`typeId`
		LEFT JOIN `subtype` a6
		ON
		a1.`subtype` = a6.`subtypeId`
		WHERE 1=1
		<if test="agent != null and agent != ''">
			AND `agent` = #{agent}
		</if>
		<if test="merchant != null and merchant != ''">
			AND `merchant` = #{merchant}
		</if>

	</select>

	<select id="selectNameNums" resultType="int">
		SELECT COUNT(1)
		FROM
		`shop_copy`
		WHERE `name` = #{0}
	</select>

	<select id="selectAccountNums" resultType="int">
		SELECT COUNT(1)
		FROM
		`shop_copy`
		WHERE `account` = #{0}
	</select>

	<select id="selectShopFlow" resultType="com.czc.bi.pojo.Simple">
		SELECT t1.`c2` AS `key`
		,COALESCE(t2.`value`,0) AS `value`
		FROM
		`dim_hour` t1
		LEFT JOIN
		(SELECT FROM_UNIXTIME(`timestamp`,'%H') AS
		`hour`
		,COUNT(DISTINCT `mac`) AS `value`
		FROM
		<foreach collection="tables" item="item" open="(" separator="union"
			close=") a">
			select * from ${item}
		</foreach>
		WHERE FROM_UNIXTIME(`timestamp`,'%Y%m%d') = #{date}
		GROUP BY `hour`
		) t2
		ON t1.`c2` = t2.`hour`
		ORDER BY t1.`c2`
	</select>

	<select id="selectShopFlowSection" resultType="com.czc.bi.pojo.Simple">
		SELECT t1.`key_s` AS `key`
		,COALESCE(t2.`value`,0) AS `value`
		FROM
		`dim_date` t1
		LEFT JOIN
		(SELECT FROM_UNIXTIME(`timestamp`,'%Y%m%d') AS
		`day`
		,COUNT(DISTINCT `mac`) AS `value`
		FROM
		<foreach collection="tables" item="item" open="(" separator="union all"
			close=") a">
			select * from ${item}
		</foreach>
		WHERE FROM_UNIXTIME(`timestamp`,'%Y%m%d') >= #{begin}
		AND
		FROM_UNIXTIME(`timestamp`,'%Y%m%d') &lt;= #{end}
		GROUP BY `day`
		) t2
		ON
		t1.`key_s` = t2.`day`
		WHERE t1.`key_s` >= #{begin}
		AND t1.`key_s` &lt;=
		#{end}
		ORDER BY t1.`key_s`
	</select>

	<!-- <select id="selectStayShow" resultType="com.czc.bi.pojo.StayShow"> 
		SELECT a.`mac` AS `mac` ,FROM_UNIXTIME(MIN(a.`mint`),'%Y%m%d') AS `first` 
		,FROM_UNIXTIME(MAX(a.`maxt`),'%Y%m%d') AS `last` ,SUM(a.`diff`) AS `stay` 
		,SUM(a.cnt) AS `days` FROM ( SELECT FROM_UNIXTIME(`timestamp`,'%Y%m%d') AS 
		`day` ,`mac` ,MAX(`timestamp`) - MIN(`timestamp`) AS `diff` ,MAX(`timestamp`) 
		AS `maxt` ,MIN(`timestamp`) AS `mint` ,1 AS `cnt` FROM <foreach collection="tables" 
		item="item" open="(" separator="union all" close=") a"> select * from ${item} 
		</foreach> GROUP BY FROM_UNIXTIME(`timestamp`,'%Y%m%d') ,`mac` ) a GROUP 
		BY a.`mac` </select> -->

	<!--<select id="selectStayShow" resultType="com.czc.bi.pojo.StayShow"> -->
	<!--SELECT `mac` AS `mac` -->
	<!--,MAX(`timestamp`) - MIN(`timestamp`) AS `stay` -->
	<!--,FROM_UNIXTIME(MIN(`timestamp`),'%Y%m%d') AS `first` -->
	<!--,FROM_UNIXTIME(MAX(`timestamp`),'%Y%m%d') AS `last` -->
	<!--FROM -->
	<!--<foreach collection="tables" item="item" open="(" separator="union all" 
		close=") a"> -->
	<!--select `mac`,`timestamp` from `sniffer_data2`.`${item}` -->
	<!--</foreach> -->
	<!--WHERE FROM_UNIXTIME(`timestamp`,'%Y%m%d') >= #{begin} -->
	<!--AND FROM_UNIXTIME(`timestamp`,'%Y%m%d') &lt;= #{end} -->
	<!--GROUP BY `mac` -->
	<!--</select> -->

	<select id="selectStayShow" resultType="com.czc.bi.pojo.StayShow">
		SELECT
		`lanmac` AS `mac`,
		SUM(`last` - `first`) AS `stay`,
		FROM_UNIXTIME(MIN(`first`), '%Y-%m-%d %H:%i:%S') AS `first`,
		FROM_UNIXTIME(MAX(`last`), '%Y-%m-%d %H:%i:%S') AS `last`
		FROM
		`mac_gather`
		WHERE `code` IN
		<foreach collection="tables" item="item" open="(" separator=","
			close=")">
			'${item}'
		</foreach>
		AND `date` >= #{begin}
		AND `date` &lt;= #{end}
		GROUP BY `lanmac`
		ORDER BY
		`last`
		<if test="limit != null">
			limit #{limit}
		</if>

	</select>

	<!--<select id="selectPotential" resultType="com.czc.bi.pojo.StayShow"> -->
	<!--SELECT `mac` AS `mac` -->
	<!--,COUNT(DISTINCT FROM_UNIXTIME(`timestamp`, '%Y%m%d')) AS `days` -->
	<!--,FROM_UNIXTIME(MIN(`timestamp`), '%Y-%m-%d %H:%i:%S') AS `first` -->
	<!--,FROM_UNIXTIME(MAX(`timestamp`), '%Y-%m-%d %H:%i:%S') AS `last` -->
	<!--,MAX(`timestamp`) - MIN(`timestamp`) AS `stay` -->
	<!--FROM -->
	<!--<foreach collection="tables" item="item" open="(" separator="union all" 
		close=") a"> -->
	<!--select `mac`,`timestamp` from `sniffer_data2`.`${item}` -->
	<!--</foreach> -->
	<!--GROUP BY `mac` -->
	<!--</select> -->


	<select id="selectPotential" resultType="com.czc.bi.pojo.StayShow">
		SELECT
		`mac`,
		`stay`,
		`first`,
		`last`,
		`days`
		FROM
		`cust_stay`
		WHERE
		`shop_copy` = #{0}
		LIMIT 1000
	</select>


	<select id="selectStayShowCount" resultType="java.lang.Integer">
		SELECT COUNT(DISTINCT `lanmac`)
		FROM `mac_gather`
		WHERE `code` IN
		<foreach collection="tables" item="item" open="(" separator=","
			close=")">
			'${item}'
		</foreach>
		AND `date` >= #{begin}
		AND `date` &lt;= #{end}
	</select>

	<select id="selectPotentialCount" resultType="java.lang.Integer">
		SELECT count(1)
		FROM
		`cust_stay`
		WHERE
		`shop_copy` = #{0}
	</select>
	<select id="selectPotentialExport" resultType="com.czc.bi.pojo.StayShow">
		SELECT
		`mac`,
		`stay`,
		`first`,
		`last`,
		`days`
		FROM
		`cust_stay`
		WHERE
		`shop_copy` = #{0}
	</select>


	<select id="selectByAccount" resultType="com.czc.bi.pojo.Shop">
		SELECT
		`name`,
		`account`,
		`inshort`,
		`merchant`,
		`agent`,
		`province`,
		`city`,
		`area`,
		`address`,
		`type`,
		`subtype`,
		`longitude`,
		`latitude`,
		`link`,
		`phone`,
		`shoptime`,
		`introduce`
		FROM
		`shop_copy` where `account` = #{0}
	</select>

	<update id="updateshopByCode" parameterType="com.czc.bi.pojo.Shop">
		UPDATE
		`shop_copy`
		SET
		<if test="inshort != null and inshort != ''">
			`inshort` = #{inshort,jdbcType=VARCHAR},
		</if>
		<if test="province != null and province != ''">
			`province` = #{province,jdbcType=VARCHAR},
		</if>
		<if test="city != null and city != ''">
			`city` = #{city,jdbcType=VARCHAR},
		</if>
		<if test="area != null and area != ''">
			`area` = #{area,jdbcType=VARCHAR},
		</if>
		<if test="address != null and address != ''">
			`address` = #{address,jdbcType=VARCHAR},
		</if>
		<if test="type != null and type != ''">
			`type` = #{type,jdbcType=VARCHAR},
		</if>
		<if test="subtype != null and subtype != ''">
			`subtype` = #{subtype,jdbcType=VARCHAR},
		</if>
		<if test="longitude != null and longitude != ''">
			`longitude` = #{longitude,jdbcType=VARCHAR},
		</if>
		<if test="latitude != null and latitude != ''">
			`latitude` = #{latitude,jdbcType=VARCHAR},
		</if>
		<if test="link != null and link != ''">
			`link` = #{link,jdbcType=VARCHAR},
		</if>
		<if test="phone != null and phone != ''">
			`phone` = #{phone,jdbcType=VARCHAR},
		</if>
		<if test="shoptime != null and shoptime != ''">
			`shoptime` = #{shoptime,jdbcType=VARCHAR},
		</if>
		<if test="introduce != null and introduce != ''">
			`introduce` = #{introduce,jdbcType=VARCHAR},
		</if>
		`updatedt` = NOW()
		WHERE `account` = #{account,jdbcType=VARCHAR}
	</update>


	<select id="selectByName" resultType="java.lang.String">
		SELECT
		`account`
		FROM
		`shop_copy`
		where `name` like '%${value}%'
	</select>

	<select id="selectByMerchant" resultType="com.czc.bi.pojo.Shop">
		SELECT
		`name`,
		`account`,
		`inshort`,
		`merchant`,
		`agent`,
		`province`,
		`city`,
		`area`,
		`address`,
		`type`,
		`subtype`,
		`longitude`,
		`latitude`,
		`link`,
		`phone`,
		`shoptime`,
		`introduce`,
		`createdt`,
		`updatedt`
		FROM `shop_copy` where
		`merchant` = #{merchant,jdbcType=VARCHAR}
	</select>

	<select id="selectByName2" resultType="java.lang.String">
		SELECT
		`account`
		FROM
		`shop_copy`
		where `name` = #{name,jdbcType=VARCHAR}
	</select>

	<select id="selectByAccount2" resultType="java.lang.String">
		SELECT
		`name`
		FROM
		`shop_copy`
		where `account` = #{0}
	</select>



	<select id="selectPhone" resultType="java.lang.String">
		SELECT
		`phone`
		FROM
		`shop_copy`
		where `name` = #{name,jdbcType=VARCHAR}
	</select>

	<select id="selectPhoneByAcct" resultType="java.lang.String">
		SELECT
		`phone`
		FROM
		`shop_copy`
		where `account` = #{account,jdbcType=VARCHAR}
	</select>

	<select id="selectShoptime" resultType="java.lang.String">
		SELECT
		`shoptime`
		FROM
		`shop_copy` where `name` = #{name,jdbcType=VARCHAR}
	</select>

	<select id="selectMerchentShop" resultType="java.lang.String">
		select `name` from
		`shop_copy` where `merchant`=(SELECT `name` from `user` WHERE
		`account`=#{account,jdbcType=VARCHAR});
	</select>

	<insert id="inserts" parameterType="java.util.List">
		replace INTO `shop_copy` (
		`name`,
		`account`,
		`inshort`,
		`merchant`,
		`agent`,
		`province`,
		`city`,
		`area`,
		`address`,
		`type`,
		`subtype`,
		`longitude`,
		`latitude`,
		`link`,
		`phone`,
		`shoptime`,
		`introduce`,
		`createdt`,
		`updatedt`
		)
		VALUES
		<foreach collection="records" item="item" index="index" separator="," >
			(
			#{item.name,jdbcType=VARCHAR},
			#{item.account,jdbcType=VARCHAR},
			#{item.inshort,jdbcType=VARCHAR},
			#{item.merchant,jdbcType=VARCHAR},
			#{item.agent,jdbcType=VARCHAR},
			#{item.province,jdbcType=VARCHAR},
			#{item.city,jdbcType=VARCHAR},
			#{item.area,jdbcType=VARCHAR},
			#{item.address,jdbcType=VARCHAR},
			#{item.type,jdbcType=VARCHAR},
			#{item.subtype,jdbcType=VARCHAR},
			#{item.longitude,jdbcType=VARCHAR},
			#{item.latitude,jdbcType=VARCHAR},
			#{item.link,jdbcType=VARCHAR},
			#{item.phone,jdbcType=VARCHAR},
			#{item.shoptime,jdbcType=VARCHAR},
			#{item.introduce,jdbcType=VARCHAR},
			NOW(),
			NOW()
			)
		</foreach>
	</insert>


</mapper>