<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czc.bi.mapper.ShopLabelAnalyzeMapper">

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer">
        SELECT
        `id`,
        `type`,
        `account`,
        `shop`,
        `key`,
        `value`,
        `pdate`,
        `createdt`,
        `updatedt`
        FROM
        `shop_label_analyze`
        WHERE `id` = #{key}
    </select>

    <select id="selectByQuery" parameterType="com.czc.bi.pojo.query.ShopLabelAnalyzeQuery" resultType="com.czc.bi.pojo.ShopLabelAnalyze">
        SELECT
        `id`,
        `type`,
        `account`,
        `shop`,
        `key`,
        `value`,
        `pdate`,
        `createdt`,
        `updatedt`
        FROM
        `shop_label_analyze`
        WHERE 1 = 1
        <if test="query.type != null">
          AND `type` ${query.typeOperator} #{query.type}
        </if>
        <if test="query.account != null">
          AND `account` ${query.accountOperator} #{query.account}
        </if>
        <if test="query.shop != null">
          AND `shop` ${query.shopOperator} #{query.shop}
        </if>
        <if test="query.key != null">
          AND `key` ${query.keyOperator} #{query.key}
        </if>
        <if test="query.value != null">
          AND `value` ${query.valueOperator} #{query.value}
        </if>
        <if test="query.pdate != null">
          AND `pdate` ${query.pdateOperator} #{query.pdate}
        </if>
        <if test="query.orderBy!=null">
            ORDER BY ${query.orderBy}
            <if test="!query.asc">
            DESC
        </if>
        </if>
        <if test="query.startRecord != null and query.pageSize != null">
            LIMIT ${query.startRecord}, ${query.pageSize}
        </if>
    </select>

    <select id="selectRowsByQuery" parameterType="com.czc.bi.pojo.query.ShopLabelAnalyzeQuery" resultType="Integer">
        SELECT COUNT(1)
        FROM
        `shop_label_analyze`
        WHERE 1 = 1
        <if test="query.type != null">
          AND `type` = #{query.type}
        </if>
        <if test="query.account != null">
          AND `account` = #{query.account}
        </if>
        <if test="query.shop != null">
          AND `shop` = #{query.shop}
        </if>
        <if test="query.key != null">
          AND `key` = #{query.key}
        </if>
        <if test="query.value != null">
          AND `value` = #{query.value}
        </if>
        <if test="query.pdate != null">
          AND `pdate` = #{query.pdate}
        </if>
    </select>

    <insert id="insert" parameterType="com.czc.bi.pojo.ShopLabelAnalyze">
        INSERT INTO `shop_Label_Analyze`(
             `type`,
             `account`,
             `shop`,
             `key`,
             `value`,
             `pdate`,
             `createdt`,
             `updatedt`
        )
        VALUES(
             #{record.type},
             #{record.account},
             #{record.shop},
             #{record.key},
             #{record.value},
             #{record.pdate},
             NOW(),
             NOW()
        )
    </insert>

    <insert id="inserts" parameterType="java.util.List">
        INSERT INTO `shop_Label_Analyze`
        (
        `type`,
        `account`,
        `shop`,
        `key`,
        `value`,
        `pdate`,
        `createdt`,
        `updatedt`
        )
        VALUES
        <foreach collection="records" item="record" index="index" separator=",">
            (
            #{record.type},
            #{record.account},
            #{record.shop},
            #{record.key},
            #{record.value},
            #{record.pdate},
            NOW(),
            NOW()
            )
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM `shop_label_analyze`
         WHERE id = #{key}
    </delete>

    <delete id="deleteByAccountPdate" parameterType="java.lang.String">
        DELETE FROM `shop_label_analyze`
         WHERE account = #{account}
           AND pdate= #{pdate}
    </delete>

    <select id="selectByCondition" resultType="com.czc.bi.pojo.ShopLabelAnalyze">
        SELECT
        `id`,
        `type`,
        `account`,
        `shop`,
        `key`,
        `value`,
        `pdate`,
        `createdt`,
        `updatedt`
        FROM
        `shop_label_analyze`
        WHERE ${condition}
    </select>
    <select id="selectKYByQuery" resultType="com.czc.bi.pojo.SimpleKV">
        SELECT
        `key`,
        `value`
        FROM
        `shop_label_analyze`
        WHERE 1 = 1
        <if test="query.type != null">
            AND `type` ${query.typeOperator} #{query.type}
        </if>
        <if test="query.account != null">
            AND `account` ${query.accountOperator} #{query.account}
        </if>
        <if test="query.shop != null">
            AND `shop` ${query.shopOperator} #{query.shop}
        </if>
        <if test="query.key != null">
            AND `key` ${query.keyOperator} #{query.key}
        </if>
        <if test="query.value != null">
            AND `value` ${query.valueOperator} #{query.value}
        </if>
        <if test="query.pdate != null">
            AND `pdate` ${query.pdateOperator} #{query.pdate}
        </if>
        <if test="query.orderBy!=null">
            ORDER BY ${query.orderBy}
            <if test="!query.asc">
                DESC
            </if>
        </if>
        <if test="query.startRecord != null and query.pageSize != null">
            LIMIT ${query.startRecord}, ${query.pageSize}
        </if>
    </select>

</mapper>