<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czc.bi.mapper.ShopMapper">

	<insert id="insert" parameterType="com.czc.bi.pojo.Shop">
		INSERT INTO `shop` (
		`name`,
		`account`,
		`inshort`,
		`merchant`,
		`agent`,
		`province`,
		`city`,
		`area`,
		`address`,
		`type`,
		`subtype`,
		`longitude`,
		`latitude`,
		`link`,
		`phone`,
		`shoptime`,
		`introduce`,
		`createdt`,
		`updatedt`
		)
		VALUES
		(
		#{name,jdbcType=VARCHAR},
		#{account,jdbcType=VARCHAR},
		#{inshort,jdbcType=VARCHAR},
		#{merchant,jdbcType=VARCHAR},
		#{agent,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{area,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{subtype,jdbcType=VARCHAR},
		#{longitude,jdbcType=VARCHAR},
		#{latitude,jdbcType=VARCHAR},
		#{link,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{shoptime,jdbcType=VARCHAR},
		#{introduce,jdbcType=VARCHAR},
		NOW(),
		NOW()
		)
	</insert>

	<select id="selectByAccount" resultType="com.czc.bi.pojo.Shop">
		SELECT
		`name`,
		`account`,
		`inshort`,
		`merchant`,
		`agent`,
		`province`,
		`city`,
		`area`,
		`address`,
		`type`,
		`subtype`,
		`longitude`,
		`latitude`,
		`link`,
		`phone`,
		`shoptime`,
		`introduce`
		FROM
		`shop` where `account` = #{0}
	</select>

	<select id="selectAllShopId" resultType="java.lang.String">
		SELECT account FROM `shop`
	</select>

	<select id="selectShopsByMerchant" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT `account` as `key`
		      ,`name` as `value`
 		FROM `shop`
		WHERE merchant = #{merchant}
	</select>

	<insert id="replaces" parameterType="java.util.List">
		REPLACE INTO `shop`(
		`name`,
		`account`,
		`inshort`,
		`merchant`,
		`agent`,
		`province`,
		`city`,
		`area`,
		`address`,
		`type`,
		`subtype`,
		`longitude`,
		`latitude`,
		`link`,
		`phone`,
		`shoptime`,
		`introduce`,
		`createdt`,
		`updatedt`
		)
		VALUES
		<foreach collection="records" item="item" index="index" separator="," >
			(
			#{item.name,jdbcType=VARCHAR},
			#{item.account,jdbcType=VARCHAR},
			#{item.inshort,jdbcType=VARCHAR},
			#{item.merchant,jdbcType=VARCHAR},
			#{item.agent,jdbcType=VARCHAR},
			#{item.province,jdbcType=VARCHAR},
			#{item.city,jdbcType=VARCHAR},
			#{item.area,jdbcType=VARCHAR},
			#{item.address,jdbcType=VARCHAR},
			#{item.type,jdbcType=VARCHAR},
			#{item.subtype,jdbcType=VARCHAR},
			#{item.longitude,jdbcType=VARCHAR},
			#{item.latitude,jdbcType=VARCHAR},
			#{item.link,jdbcType=VARCHAR},
			#{item.phone,jdbcType=VARCHAR},
			#{item.shoptime,jdbcType=VARCHAR},
			#{item.introduce,jdbcType=VARCHAR},
			NOW(),
			NOW()
			)
		</foreach>
	</insert>

	<update id="updateAliPay" parameterType="com.czc.bi.pojo.Shop">
		INSERT INTO shop(
			  `name`,
			  `account`,
			  `inshort`,
			  `merchant`,
			  `createdt`,
			  `updatedt`
			)
		VALUES
		  (
			#{shop.name,jdbcType=VARCHAR},
			#{shop.account,jdbcType=VARCHAR},
			#{shop.inshort,jdbcType=VARCHAR},
			#{shop.merchant,jdbcType=VARCHAR},
			NOW(),
			NOW()
		  )
		ON DUPLICATE KEY
		UPDATE `name`     = #{shop.name,jdbcType=VARCHAR},
			   `inshort`  = #{shop.inshort,jdbcType=VARCHAR},
			   `updatedt` = NOW()
	</update>
	
	<update id="updateLatAndLng" >
		UPDATE shop SET `longitude` = #{longitude},`latitude` = #{latitude},`updatedt` = NOW() WHERE `account` = #{account}
	</update>
</mapper>