<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czc.bi.mapper.ShowMapper">

	<select id="selectCity" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT cityID AS `key`,city
		AS `value`
		FROM city
		WHERE fatherID = #{0}
	</select>

	<select id="selectArea" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT areaID AS `key`,area
		AS `value`
		FROM area
		WHERE fatherID = #{0}
	</select>

	<select id="selectSubtype" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT subtypeid AS
		`key`,subtype AS `value`
		FROM subtype
		WHERE fatherID = #{0}
	</select>

	<select id="selectShop" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT `account` AS `key`
		,`name` AS `value`
		FROM `shop`
		WHERE 1=1
		<if test="argv != null">
			AND `merchant` = #{argv}
		</if>
	</select>

	<select id="selectAgent" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT `name` AS `key`
		,`name` AS `value`
		FROM `agents`
	</select>

	<select id="selectMerchant" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT `name` AS `key`
		,`name` AS `value`
		FROM `merchant`
		WHERE `agent` = #{0}
	</select>

	<select id="selectDevice" resultType="java.lang.String">
		SELECT `code`
		FROM `device`
		WHERE 1=1
		<if test="agent != null and agent != ''">
			AND `agents` = #{agent}
		</if>
		<if test="merchant != null and merchant != ''">
			AND `merchant` = #{merchant}
		</if>
	</select>

	<select id="selectDeviceStat" resultType="com.czc.bi.pojo.dto.DeviceStatDto">
    SELECT a.`code`   AS `code`
          ,'室内型'    AS `type`
          ,'1.1.0'    AS `version`
          ,IF(UNIX_TIMESTAMP(NOW()) - MAX(CAST(IFNULL(c.`sendtime`,'1') AS SIGNED INTEGER)) > 1800, '0','1') AS `stat`
          ,b.`group`  AS `group`
      FROM `device` a
     INNER JOIN `device_group` b
        ON a.code       = b.devicecode
       AND b.`updatedt`!='1970-01-01 00:00:00'
      LEFT JOIN `SNHeartbeat`.`alldevicehb` c
        ON a.`code`  =  c.deviceid
     WHERE b.`shop`  = #{account}
     GROUP BY a.`code`,`group`
	</select>

	<select id="selectDeviceLastTime" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT
		UNIX_TIMESTAMP() - UNIX_TIMESTAMP(MAX(`last_arrival`)) `key`
		,MAX(`last_arrival`)
		`value`
		FROM `device_data_stat`
		where `code`=#{code}
	</select>

	<select id="selectFirstTag" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT id AS `key`,tag AS
		`value`
		FROM tag
		WHERE fatherID = 0
	</select>

	<select id="selectSecondTag" resultType="com.czc.bi.pojo.dto.Simple">
		SELECT id AS `key`,tag
		AS `value`
		FROM tag
		WHERE fatherID = #{0}
	</select>
	
	<select id="selectSecondTagName" resultType="java.lang.String">
	   SELECT `tag`
		FROM tag
		WHERE fatherID = #{0}
	</select>

	<select id="selectGroup" resultType="java.lang.String">
<!--		select `group`  from
		`device_group`
		WHERE `shop` =#{shop} and `updatedt`!='1970-01-01 00:00:00'
		GROUP BY `group`
		-->

	  SELECT CASE WHEN MAX(`updatedt`) = '1970-01-01 00:00:00' THEN CONCAT(`group`,'(历史)')
		          ELSE `group`
		      END AS `group`
		FROM `device_group`
	   WHERE `shop` = #{shop}
	   GROUP BY `group`
	</select>

        <select id="selectHistGroup" resultType="com.czc.bi.pojo.dto.Simple">
            select `group` `key`,DATE_FORMAT(`createdt`,'%Y-%m-%d %H:%i') `value`  from
            `device_group`
            WHERE `shop` =#{shop} and `updatedt`='1970-01-01 00:00:00'
            GROUP BY `group`
        </select>

        <select id="selectGroupDevice" resultType="java.lang.String">
            select `deviceCode` from `device_group`
            WHERE `shop` =#{shop} AND `group`=#{group} and `deviceCode`is not NULL  group by `deviceCode`
        </select>

        <select id="selectShop2" resultType="com.czc.bi.pojo.dto.Simple">
            SELECT `account` AS `key`
            ,`name` AS `value`
            FROM `shop`
            WHERE 1=1
            <if test="argv != null">
                AND `merchant` = #{argv}
            </if>
        </select>

        <select id="selectNoGroupDevice" resultType="java.lang.String">
            SELECT d.`code`
            FROM `device` d
            LEFT OUTER JOIN device_group g on g.`deviceCode`=d.`code` AND
            g.`shop`=#{shop}
            where d.`shop`=(SELECT `name` from shop WHERE `account`=#{shop})
            and g.`deviceCode` is NULL
        </select>


        <select id="selectSeries" resultType="java.lang.String">
            SELECT `series` from
            `persona` WHERE type=#{type,jdbcType=VARCHAR} AND
            `orderid`=#{orderid,jdbcType=VARCHAR}
            GROUP BY `series`
        </select>



    </mapper>